---
import Link from '../components/Link.astro';
import Layout from '../layouts/Layout.astro';

const meta ={
	title: 'Box BRIDE💍',
	description: 'Aquí encontrarás Box de Regalo para tus Damas de Honor, para Novias, celebrar a Parejas que se han comprometido y más 🤍',
	image: '/portada.jpeg',
	empresa: 'Scrapnow Memory',
	links: [
		{
			title: 'Catálogo Box Bride',
		 link: 'https://drive.google.com/file/d/1yzH7x5RYkNyyw4tPzCll63053xh-oXm4/view?usp=sharing'
		},
		{
			title: 'Catálogo Merch Bride',
			link: 'https://drive.google.com/file/d/140kxcp4rZv4Z96J_JqSXuJ4ZjglXj1aS/view?usp=sharing'
		}
	],
	
}

const {title, description, image, empresa, links} = meta;
---

<Layout {title} {description} {image} {empresa} >
	<div class="container m-auto text-center flex flex-col items-center gap-y-6 pt-20 md:pt-10 px-4 md:max-w-xl text-red-950">
		<img src="/logo_scrapnowMemory.svg" alt="logo scrapnow memory" class="size-36 rounded-full">
		<div>
			<h1 class="text-2xl font-medium"> ✨ {title} ✨</h1>
			<p class="mt-1">{description}</p>
		</div>
		{
			links.map(({title,link})=>(
				<Link {link} {title}>
					<svg class="size-10 fill-orange-950 group-hover:fill-pink-950 transition-all ease-in-out duration-300"  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M12 10L8 4.4L9.6 2H14.4L16 4.4L12 10ZM15.5 6.8L14.3 8.5C16.5 9.4 18 11.5 18 14C18 15.5913 17.3679 17.1174 16.2426 18.2426C15.1174 19.3679 13.5913 20 12 20C10.4087 20 8.88258 19.3679 7.75736 18.2426C6.63214 17.1174 6 15.5913 6 14C6 11.5 7.5 9.4 9.7 8.5L8.5 6.8C5.8 8.1 4 10.8 4 14C4 16.1217 4.84285 18.1566 6.34315 19.6569C7.84344 21.1571 9.87827 22 12 22C14.1217 22 16.1566 21.1571 17.6569 19.6569C19.1571 18.1566 20 16.1217 20 14C20 10.8 18.2 8.1 15.5 6.8Z"/>
				</svg>
				</Link>
			))
		}
	<p class="absolute bottom-6 md:relative pt-14 flex flex-col items-center">
		Creando detalles que perduren en el corazón.
		<a href="https://api.whatsapp.com/send/?phone=51982696738&text&type=phone_number&app_absent=0" class="flex mt-2 p-2 rounded-full border-2 border-green-500 text-green-900 w-fit text-xs items-center gap-1">
			Escríbenos por WhatsApp
			<img src="/whatsapp-icon.svg" alt="hablanos por whatsapp" class="size-6">
		</a>
	</p>
	</div>
</Layout>
